<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" media="screen"/>
    <script th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}">...</script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <!-- <div class="" id=""> -->
	    <div class="alert alert-success">
	        <strong>this is the list of all employees</strong>
	    </div>

		<table class="table table-striped table-hover">
			<thead>
		        <tr>
		            <th>Employee ID</th>
		            <th>Employee first</th>
		            <th>Employee last</th>
		            <th>departement</th>
		             <th>salary</th>
		            <th class="row" th:if="${role.role != 'SA_MAN'}">Action</th>
		        </tr>
		        </thead>
		        <tbody>
			<tr th:each="employee : ${employees}">
	            <td th:text="${employee.employeeId}"></td>
	            <td th:text="${employee.FirstName}"></td>
	            <td th:text="${employee.LastName}"></td>
				<td th:text="${employee.DepartementName}"></td>
				<td th:text="${employee.salary}"></td>
				<td class="row" th:if="${role.role != 'SA_MAN'}">
	            <button type="button" class=" btn btn-default">Select</button>
			</td>          
	        </tr>
        </table>
        <div  th:if="${role.role != 'SA_MAN'}">
        <div class="alert-danger text-center">Update your selected employee here :</div><br>
        <form class="row " id="register" th:object="${modifyCountryQuery}">
        	<label for="employeeId">ID :</label>
			<input class=" col-md-2 "  name="employeeId" id="employeeId" disabled   placeholder="Employee Id">
			<label for="firstName">first name :</label>
			<input class=" " type="text" name="firstName" id="firstName"  placeholder="First Name" >
			<label for="lastName">last name :</label>
			<input type="text" name="lastName" id="lastName"  placeholder="Last Name"> 
			<label for="salary">salary :</label>
			<input type="text" name="salary" id="salary"  placeholder="salary">
			<input type="submit" name="valider" value="Modify">
		</form>
		</div>
		<br><br><br><br>
    <!-- </div> -->
    <div th:replace="fragments/footer :: footer">...</div>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
                        $('.btn').on('click',function(){
                                $("#employeeId").val($(this).closest('tr').find("td:eq(0)").text());
                                $("#firstName").val($(this).closest('tr').find("td:eq(1)").text());
                                $("#lastName").val($(this).closest('tr').find("td:eq(2)").text());
                                $("#salary").val($(this).closest('tr').find("td:eq(4)").text());
                                window.scrollTo(0,document.body.scrollHeight);

                                });
                        
                        $('#register').submit(function(e) {
                                    var form = $("#register");
                                    $.ajax({
                                          type: 'POST',
                                          url: "/modifyEmployee",
                                          dataType: "json",
                                          contentType: 'application/json',
                                          data:JSON.stringify( {

                                              "employeeId": $("#employeeId").val(),
                                              "firstName" : $("#firstName").val(),
                                              "lastName" : $("#lastName").val(),
                                              "salary"  :  $("#salary").val()
                                          }),
                                          
                                       success: function()
                                           {
                                                alert("done");
                                           }
                                       });

                                    e.preventDefault(); // avoid to execute the actual submit of the form.
                                });

                        });
/*]]>*/
</script>
</body>
</html>